.App {
  text-align: center;
}

/* LANDING SECTION  */

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.landing-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.landing-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.landing-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.landing-btns {
  margin-top: 32px;
}

.landing-btns .btn {
  margin: 6px;
}

/* FOOTER */

.footer {
  border: 2px solid black;
  background: #333a40;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  width: 30%;
  color: #c2cbd2;
  text-align: start;
  margin: 15px 10px 0 10px;
  padding: 3%;
}
